# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
backend/node_modules/
frontend/node_modules/
signify/node_modules
.pnp
.pnp.js

# testing
backend/coverage/
frontend/coverage/

# production builds
backend/dist/
frontend/build/

# Ignore environment variables (chỉ trong backend và frontend)
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local


# misc
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
